@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Newsreader:ital,wght@0,200;0,300;1,200;1,300&family=Norican&display=swap');

$font-family-base: 'Newsreader', serif;
$font-family-head: 'Montserrat', sans-serif;
$font-family-title: 'Norican', cursive;

$color-white: #fff;
$color-background: #dfe6e9;
$color-text-body: #718093;
$color-brand: gold;
$color-black: #000;

/* GLOBAL */

*, *::before, *::after {
    box-sizing: border-box;    
}
body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: $font-family-base;
    background-color: $color-white;
    color: $color-text-body;
    line-height: 1.7;
}
.margin {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-title {
    font-family: $font-family-head;
    color: $color-black;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
}
.description {
    margin-top: 0;
    margin-bottom: 60px;
}
.box-title {
    font-size: 20px;
    color: $color-black;
    font-family: $font-family-head;
}

/*  NAVBAR + HEADER */
.head-nav {
    background-image: url("/images/header.jpeg");
    background-color: $color-white;
    background-size: cover;
}
.navbar {
    height: 50px;
}
.navbar .navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;  
    display: inline-flex;  
}
.navbar-brand {
    text-decoration: none;
    color: $color-brand;
    font-family: $font-family-title;
    font-size: 30px;
}
.navbar-link {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: $font-family-head;
    font-weight: bold;
}

header {
    height: 450px;
    display: flex;
    align-items: center;
}
.splash-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splash-inner .page-subtitle {
    color: $color-white;
    text-transform: capitalize;
    font-size: 40px;
}
.splash-inner .page-title {
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-family-head;
    font-size: 50px;
}
.splash-inner .button {
    text-decoration: none;
    height: 50px;
    width: 200px;
    background-color: $color-brand;
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    line-height: 50px;
    font-family: $font-family-head;
    text-transform: uppercase;
    border-radius: 50px 20px;
}

/* SERVICES */

.services .container i {
    border: 3px solid $color-brand;
    border-radius: 50%;
    font-size: 35px;
    padding: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: $color-brand;
}
.services .container .box-description {
    height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

/* PORTFOLIO */
.portfolio {
    background-color: $color-background;
}
.portfolio .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.portfolio .card .card-image {
    display: block;
    margin: 0;  
    line-height: 0;
}
.portfolio .card .card-image img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.portfolio .card .card-body {
    background-color: $color-white;
}
.portfolio .card .card-body .image-title {
    font-size: 20px;
    color: $color-black;
    font-family: $font-family-head;
    margin-top: 20px;
    margin-bottom: 1px;
}
.portfolio .card .card-body .image-subtitle {
    margin-top: 1px;
    margin-bottom: 20px;
}

/* FOOTER */

footer .row-column {
    flex-direction: row; 
}
footer .social-list {
    list-style-type: none;
    padding: 0;
}
footer .text-left {
    text-align: left;
    font-weight: bold;
}
footer .social-list .social {
    display: inline-block;
    margin-right: 8px;
    font-size: 0; 
}
footer .social-list .social a {
    text-decoration: none;
}
footer .social-list .social i {
    border: 1px solid $color-black;
    background-color: $color-black;
    border-radius: 50%;
    font-size: 20px;
    color: $color-white;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

